# Core backend
fastapi
uvicorn
pydantic
pydantic-settings

# Frontend
streamlit

# LLM + NLP
transformers
huggingface_hub
sentence-transformers
openai
google-genai

# Raw data handling
PyMuPDF
markdownify
beautifulsoup4

# Vector search
faiss-cpu

# Data handling
numpy
pandas

# HTTP & async
httpx
aiofiles

# Utilities
python-dotenv
loguru

# Testing
pytest
